.eu{color: pink;
text-align: 50px;

}
body{background-color: rgb(255, 255, 232)}
.APELIDO{color: rgb(67, 203, 245);}
.amo{color: rgb(202, 21, 51);}
.cor{color: rgb(0, 17, 255);}
.Católica{color:yellow}
.animais{color: orange;}